<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="BingApplicationId" value="269026A63A026BD629093BE44AC9052D4DD068E4"/>
      <setting name="TranslationProvider" value="MSTranslation"/>    
      <setting name="BaseLanguage" value="en"/>

      <setting name="MSTranslation_ClientID" value="Client ID from Azure"/>
      <setting name="MSTranslation_ClientSecret" value="Client Secret from Azure"/>
      <setting name="MSTranslation_TokenUrl" value="https://datamarket.accesscontrol.windows.net/v2/OAuth2-13"/>
      <setting name="MSTranslation_TokenPostBody" value="grant_type=client_credentials&amp;client_id={0}&amp;client_secret={1}&amp;scope=http://api.microsofttranslator.com"/>
      <setting name="MSTranslation_TranslateUrl" value="http://api.microsofttranslator.com/v2/Http.svc/Translate?text={0}&amp;from={1}&amp;to={2}"/>

    </settings>
  </sitecore>
</configuration>
